# eclipse
bin
*.launch
.settings
.metadata
.classpath
.project

# idea
out
*.ipr
*.iws
*.iml
.idea

# gradle
build
.gradle

# vs code
.vscode/

# other
eclipse
run
runs
run-data
src_backup/
*.log

repo

# Claude Code
.claude/
CLAUDE.md